* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #081b29;
    color: #ededed;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #051129;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover {
    color: #0ef;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url('background.jpg') no-repeat center center/cover;
    text-align: center;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0 20px;
    color: #0ef;
}

.home-content p {
    font-size: 20px;
    margin-bottom: 30px;
}

.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    transition: .5s ease;
}

.btn-box:hover {
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan, 0 0 200px cyan;
}

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
    padding: 100px 10%;
}

.about-img img {
    width: 100%;
    border-radius: 8px;
}

.about-text h2 {
    font-size: 60px;
}

.about-text h2 span {
    color: #0ef;
}

.about-text p {
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}

.footer {
    background: #051129;
    text-align: center;
    padding: 20px 0;
}

.footer p {
    color: #ededed;
}
